@model ML.Especialista

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Registro</title>
    <link rel="stylesheet" href="~/Content/Login/Registro.css" />
</head>
<body>
    <h2>Registro</h2>

    @using (Html.BeginForm("CompletarEspecialistaP", "Login", FormMethod.Post))
    {
        <div>
            @Html.LabelFor(m => m.NombreCarrera)
            @Html.TextBoxFor(m => m.NombreCarrera)
        </div>

        <div>
            @Html.LabelFor(m => m.NoCedula)
            @Html.TextBoxFor(m => m.NoCedula)
        </div>

        <div>
            @Html.LabelFor(m => m.Especialidad)
            @Html.TextBoxFor(m => m.Especialidad)
        </div>

        <div>
            @Html.LabelFor(m => m.Calle)
            @Html.TextBoxFor(m => m.Calle)
        </div>

        <div>
            @Html.LabelFor(m => m.NumeroExterno)
            @Html.TextBoxFor(m => m.NumeroExterno)
        </div>

        <div>
            @Html.LabelFor(m => m.NumeroInterno)
            @Html.TextBoxFor(m => m.NumeroInterno)
        </div>

        <div>
            @Html.LabelFor(m => m.Colonia) <!-- Nuevo campo Colonia -->
            @Html.TextBoxFor(m => m.Colonia)
        </div>

        <div>
            @Html.LabelFor(m => m.Ciudad)
            @Html.TextBoxFor(m => m.Ciudad)
        </div>

        <div>
            @Html.LabelFor(m => m.Estado)
            @Html.TextBoxFor(m => m.Estado)
        </div>

        <div>
            @Html.LabelFor(m => m.CodigoPostal)
            @Html.TextBoxFor(m => m.CodigoPostal)
        </div>

        <div>
            @Html.LabelFor(m => m.Telefono)
            @Html.TextBoxFor(m => m.Telefono)
        </div>

        <div>
            @Html.LabelFor(m => m.Celular) <!-- Nuevo campo Celular -->
            @Html.TextBoxFor(m => m.Celular)
        </div>

        <input type="submit" value="Guardar" />
    }
</body>
</html>
