@model ML.Especialista

@{
    ViewBag.Title = "Actualizar Especialista";
}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f2f5;
    }

    .form-container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

    .form-group {
        margin-bottom: 20px;
    }
</style>

<div class="form-container">
    <h2 class="text-center">Actualizar Especialista</h2>

    @using (Html.BeginForm("ActualizarEspecialista", "User", FormMethod.Post))
    {
        <div class="container">
            <div class="row">
                <div class="col-md-4 form-group" style="display: none;">
                    @Html.LabelFor(model => model.NombreCarrera)
                    @Html.TextBoxFor(model => model.NombreCarrera, new { @class = "form-control" })
                </div>

                <div class="col-md-4 form-group" style="display: none;">
                    @Html.LabelFor(model => model.NoCedula)
                    @Html.TextBoxFor(model => model.NoCedula, new { @class = "form-control" })
                </div>

                <div class="col-md-4 form-group" style="display: none;">
                    @Html.LabelFor(model => model.Especialidad)
                    @Html.TextBoxFor(model => model.Especialidad, new { @class = "form-control" })
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(model => model.Calle)
                    @Html.TextBoxFor(model => model.Calle, new { @class = "form-control" })
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(model => model.NumeroExterno)
                    @Html.TextBoxFor(model => model.NumeroExterno, new { @class = "form-control" })
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(model => model.NumeroInterno)
                    @Html.TextBoxFor(model => model.NumeroInterno, new { @class = "form-control" })
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(model => model.Colonia)
                    @Html.TextBoxFor(model => model.Colonia, new { @class = "form-control" })
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(model => model.Ciudad)
                    @Html.TextBoxFor(model => model.Ciudad, new { @class = "form-control" })
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(model => model.Estado)
                    @Html.TextBoxFor(model => model.Estado, new { @class = "form-control" })
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(model => model.CodigoPostal)
                    @Html.TextBoxFor(model => model.CodigoPostal, new { @class = "form-control" })
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(model => model.Telefono)
                    @Html.TextBoxFor(model => model.Telefono, new { @class = "form-control" })
                </div>

                <div class="col-md-4 form-group">
                    @Html.LabelFor(model => model.Celular)
                    @Html.TextBoxFor(model => model.Celular, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <p></p>
        <button type="submit" class="btn btn-primary">Guardar cambios</button>
    }
</div>
