@{
    ViewBag.Title = "Perfil";
}


<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f0f2f5;
    }

    .user-profile {
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    }

    .header-image img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        object-fit: cover;
        margin-right: 20px;
    }

    .user-details {
        display: flex;
        flex-direction: column;
    }

        .user-details label {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }

    .profile-data {
        margin-bottom: 10px;
    }

        .profile-data label {
            font-weight: bold;
            display: block;
        }

        .profile-data span {
            display: inline-block;
            padding: 5px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

    .edit-button {
        margin-top: 10px;
        padding: 8px 16px;
        font-size: 16px;
        background-color: #1877f2;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

        .edit-button:hover {
            background-color: #1659b7;
        }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
        gap: 10px; /* Espacio entre las columnas */
    }

    /* Agrega una clase para los campos de datos */
    .profile-data-item {
        display: flex;
        align-items: center;
    }

    .profile-data-item {
        display: flex;
        align-items: center;
    }
</style>

<div class="user-profile">
    <div class="header-image">
        <img src="~/Image/Usuario.png" alt="Imagen de cabecera">
        <div class="d-flex justify-content-between">
            <h4>@Model.Usuario.Nombre @Model.Usuario.ApellidoPaterno @Model.Usuario.ApellidoMaterno</h4>
            @if (Session["SessionRol"] != null && Session["SessionUsuario"] != null)
            {
                int rol_id = (int)Session["SessionRol"];
                if (rol_id == 1)
                {
                    @Html.ActionLink("Editar", "ActualizarEspecialista", "User", null, new { @class = "btn btn-primary" })
                }
                if (rol_id == 2)
                {
                    @Html.ActionLink("Agendar", "Agendar", "User", new { idEspecialista = Model.IdEspecialista }, new { @class = "btn btn-primary" })
                }
            }
        </div>
    </div>
    <hr />
    <div class="user-details">

        <div class="row d-flex text-center">
            <div class="col-md-4 profile-data-item">
                <h6>Carrera: @Model.NombreCarrera</h6>
            </div>

            <div class="col-md-4 profile-data-item">
                <h6>Especialidad: @Model.Especialidad</h6>
            </div>

            <div class="col-md-4 profile-data-item">
                <h6>Cédula: @Model.NoCedula</h6>
            </div>
        </div>
        <img src="~/Content/Images/tea-2.jpeg" />
        <hr />
        <div class="row d-flex text-center">
            <div class="col-md-6 profile-data-item">
                <h5>Dirección: </h5>
                <span> @Model.Calle, @Model.NumeroExterno, @Model.NumeroInterno, @Model.Colonia, @Model.Ciudad, @Model.Estado, @Model.CodigoPostal</span>
            </div>

            <div class="col-md-3 profile-data-item">
                <h5>Teléfono:</h5>
                <span>@Model.Telefono</span>
            </div>

            <div class="col-md-3 profile-data-item">
                <h5>Celular:</h5>
                <span>@Model.Celular</span>
            </div>
        </div>
    </div>
</div>
