@model ML.Usuario

@{
    ViewBag.Title = "Perfil";
}

<div class="user-profile">
    <div class="header-image">
        <img src="~/Image/Usuario.png" alt="Imagen de cabecera" style="width:150px; height:150px;">
        <div class="d-flex justify-content-between">
            <h3>@Model.Nombre @Model.ApellidoPaterno @Model.ApellidoMaterno</h3>
            @Html.ActionLink("Editar Paciente", "ActualizarPaciente", "User", null, new { @class = "btn btn-primary" })
        </div>
    </div>
    <hr />
    <div class="user-details">
        <!-- Información del usuario -->
        <h5 style="display: none;">Datos del usuario:</h5>
        <div class="profile-data" style="display: none;">
            <div class="profile-data-item" style="display: none;">
                <label>ID de usuario:</label>
                <span>@Model.IdUsuario</span>
            </div>
            <div class="profile-data-item">
                <label>Fecha de nacimiento:</label>
                <span>@Model.FechaNacimiento.ToShortDateString()</span>
            </div>
            <div class="profile-data-item">
                <label>Email:</label>
                <span>@Model.Email</span>
            </div>
            <!-- Agrega aquí los demás campos de datos del usuario -->
        </div>

        <!-- Información del paciente asociado al usuario -->
        <h4 class="p-2">Datos del paciente asociado:</h4>
        @if (Model.Paciente != null)
        {
            <div class="profile-data">
                <div class="row text-center">
                    <div class="col-md-4 profile-data-item">
                        <h5>ID de paciente:</h5>
                        <span>@Model.Paciente.IdPaciente</span>
                    </div>
                    <div class="col-md-4 profile-data-item">
                        <h5>Nombre del paciente:</h5>
                        <span>@Model.Paciente.Nombre @Model.Paciente.ApellidoPaterno @Model.Paciente.ApellidoMaterno</span>
                    </div>
                    <div class="col-md-4 profile-data-item">
                        <h5>Parentesco:</h5>
                        <span>@Model.Paciente.Parentesco</span>
                    </div>
                </div>

                <hr />

                <div class="row text-center">
                    <div class="col-md-4 profile-data-item">
                        <h5>Nivel TEA:</h5>
                        <span>@Model.Paciente.NivelTDA</span>
                    </div>
                    <div class="col-md-4 profile-data-item">
                        <h5>Sexo:</h5>
                        <span>@(Model.Paciente.Sexo ? "Masculino" : "Femenino")</span>
                    </div>
                    <div class="col-md-4 profile-data-item">
                        <h5>Edad:</h5>
                        <span>@Model.Paciente.Edad</span>
                    </div>
                </div>

                <hr />

                <div class="row text-center">
                    <div class="col-md-6 profile-data-item">
                        <h5>Dirección:</h5>
                        <span>@Model.Paciente.Calle, @Model.Paciente.NumeroExterior, @Model.Paciente.NumeroInterior, @Model.Paciente.Colonia, @Model.Paciente.Municipio, @Model.Paciente.Estado, @Model.Paciente.CP</span>
                    </div>
                    <div class="col-md-6 profile-data-item">
                        <h5>Escolaridad:</h5>
                        <span>@Model.Paciente.Escolaridad</span>
                    </div>
                </div>
            </div>
        }
        else
        {
            <p>No hay paciente asociado.</p>
        }
    </div>
</div>