<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <style>
        .align-right {
            display: flex;
            justify-content: flex-end;
        }
    </style>
    <link href="~/Content/css/SobreNosotroStyle.css" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            @Html.ActionLink("Enlaza-TEA", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    @if (Session["SessionRol"] == null && Session["SessionUsuario"] == null)
                    {
                        <li>@Html.ActionLink("Blog", "Index", "Blog", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Sobre Nosotros", "SobreNosotros", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Contactanos", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        int rol_id = (int)Session["SessionRol"];
                        if (rol_id == 1)
                        {
                            <li>@Html.ActionLink("Blog", "GetAll", "Blog", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Multimedia", "GetAll", "Multimedia", new { area = "" }, new { @class = "nav-link" })</li>

                        }
                        if (rol_id == 2)
                        {
                            <li>@Html.ActionLink("Blog", "Index", "Blog", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Especialistas", "Especialistas", "User", new { area = "" }, new { @class = "nav-link" })</li>
                            <li>@Html.ActionLink("Citas", "GetAllCitas", "User", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                    }
                </ul>
                @if (Session["SessionRol"] == null & Session["SessionUsuario"] == null)
                {
                    <ul class="navbar-nav flex-grow-1 align-right">
                        <li>@Html.ActionLink("Iniciar Sesíon", "Login", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>

                }
                @if (Session["SessionRol"] != null && Session["SessionUsuario"] != null)
                {
                    int rol_id = (int)Session["SessionRol"];
                    <ul class="navbar-nav flex-grow-1 align-right">
                        @if (rol_id == 2)
                        {
                            <li>@Html.ActionLink("Perfil", "PerfilFamiliar", "User", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        else
                        {
                            <li>@Html.ActionLink("Perfil", "Perfil", "User", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        <li>@Html.ActionLink("Cerrar Sesión", "CerrarSesion", "Login", new { area = "" }, new { @class = "nav-link" })</li>
                    </ul>
                }

            </div>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Enlaza TEA</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
